//fonts
@font-face
	font-family: Open Sans Light
	src: url(../../fonts/2209.ttf)
@font-face
	font-family: Open Sans Bold
	src: url(../../fonts/2204.ttf)
@font-face
	font-family: Myriad Pro Regular
	src: url(../../fonts/8143.otf)
@font-face
	font-family: Open Sans Semibold
	src: url(../../fonts/2212.ttf)
@font-face
	font-family: Open Sans ExtraBold
	src: url(../../fonts/2206.ttf)
@font-face
	font-family: Uni Sans Heavy Italic
	src: url(../../fonts/UniSansHeavyItalic.otf)
@font-face
	font-family: Uni Sans Heavy
	src: url(../../fonts/UniSansHeavy.otf)
@font-face
	font-family: Uni Sans Thin
	src: url(../../fonts/UniSansThin.otf)

//variables
$games-trailers-articles-padding = 0 30px 50px 30px
	//colors
	$site-main-link-btn-color = #30b5d8				//used in (header > logo + login) & (news > title-a + title-select + load-btn) & (trailes > title-a + title-btn) & (articles > load-btn)
	$news-item-description-background = #f3f0dc
	$news-item-title-border-top-color = #fec230
	$articles-main-color = #2d95bf					//used in (articles > title-btn + item-hover + item-author-name)
	$games-trailers-title-btn-hover-color = #323232

.clearfix
	&:after
		visibility: hidden
		display: block
		font-size: 0
		content: ""
		clear: both
		height: 0



body
	width: 100%

.site-wrapper
	margin: 0 auto
	max-width: 1400px

//header styles
.header
	.mobile-navigation
		display: none
	height: 70px
	padding: 0 0 0 50px
	font-family: 'Open Sans Light', Arial, sans-serif
	.site-logo
		background-color: $site-main-link-btn-color
		padding: 10px 20px
		img
			float: left
	.site-navigation-items
		li
			float: left
			a
				padding: 23.5px 0
				display: block
				text-align: center
				color: black
				font-size: 17px
				width: 90px
				&:hover
					cursor: pointer
					background-color: black
					color: white
	.site-search
		font-size: 20px
		background: #ededed
		.icon-for-srch
			padding: 21.5px
			float: left
			cursor: pointer
		.icon-for-srch-checkbox
			display: none
			&:checked
				~ .search-input
					display: block
		.search-input
			width: 230px
			height: 68px
			float: left
			display: none
			background-color: #ededed
			font-size: 15px
			border: none
			&:focus
				outline: none
	.site-login
		float: right
		padding: 13px 20px
		font-family: 'Open Sans Bold', Arial, sans-serif
		input
			padding: 10px
			float: left
			font-size: 15px
			font-weight: bold
			text-transform: uppercase
			background: white
			border: none
			&:hover
				cursor: pointer
				background-color: $site-main-link-btn-color

.header
	.site-logo
	.site-navigation
	.site-search
		float: left

//slider styles
.main-slider
	position: relative
	.main-slide-switch-1,
	.main-slide-switch-2,
	.main-slide-switch-3,
	.main-slide-switch-4,
	.main-slide-switch-5
		display: none
	.main-slide-switch-1
		&:checked
			~ .main-slider-view
				background: url(../../images/slides/slide2.jpg) center
	.main-slide-switch-2
		&:checked
			~ .main-slider-view
				background: url(../../images/slides/slide3.jpg) center
	.main-slide-switch-3
		&:checked
			~ .main-slider-view
				background: url(../../images/slides/slide4.jpg) center
	.main-slide-switch-4
		&:checked
			~ .main-slider-view
				background: url(../../images/slides/slide1.jpg) center
	.main-slide-switch-5
		&:checked
			~ .main-slider-view
				background: url(../../images/slides/slide5.jpg) center
	.main-slider-view
		height: 560px
	.main-slider-items
		position: absolute
		top: 90px
		right: 120px
		width: 480px
	.main-slider-items
		.main-slider-item-1
		.main-slider-item-2
		.main-slider-item-3
		.main-slider-item-4
		.main-slider-item-5
		.main-slider-item-6
		.main-slider-item-7
			float: left
			width: 120px
			height: 80px
			position: relative
		.main-slider-item-2
		.main-slider-item-3
		.main-slider-item-4
		.main-slider-item-5
		.main-slider-item-6
			&:hover
				&:after
					content: ' '
					width: 100%
					height: 100%
					position: absolute
					left: 0
					top: 0
					background-color: #69c4db
					opacity: 0.7
					cursor: pointer
		.main-slider-item-1
			&:after
				content: ''
				width: 3px
				height: 80px
				position: absolute
				top: 0px
				left: 118px
				transform: skewX(-56deg)
				transform-origin: 0 0
				background: #69c4db
			&:before
				width: 10px
				height: 10px
				content: ''
				position: absolute
				top: 37px
				left: 52px
				border-radius: 5px
				background: #69c4db
		.main-slider-item-2
			background-image: url(../../images/slides/slide2_s.jpg)
		.main-slider-item-3
			background-image: url(../../images/slides/slide3_s.jpg)
		.main-slider-item-4
			background-image: url(../../images/slides/slide4_s.jpg)
		.main-slider-item-5
			background-image: url(../../images/slides/slide1_s.jpg)
		.main-slider-item-6
			background-image: url(../../images/slides/slide5_s.jpg)
		.main-slider-item-7
			&:after
				content: ''
				width: 3px
				height: 100px
				position: absolute
				bottom: -20px
				right: 0px
				visibility: visible
				transform: skewX(-50deg)
				transform-origin: 0 0
				background: #69c4db
			&:before
				width: 10px
				height: 10px
				content: ''
				position: absolute
				right: 57px
				bottom: 25px
				border-radius: 5px
				background: #69c4db

.main-slider
	> img
		position: absolute
		left: 0
		bottom: -113px
	.main-slider-items
		.main-slider-description
			padding: 20px
			width: 360px
			height 260px
			overflow: hidden
			font-family: 'Myriad Pro Regular', Arial, sans-serif
			background-color: rgba(41, 171, 205, 0.7)
			opacity: 0.85
			float: left
			h2
				margin: 0
			p
				color: white
			a
				color: black
				font-weight: bold
				float: right
				text-decoration: underline


//news styles
	//news title, sorting
.main-news
	margin: 20px 0 0 0
	padding: 0 30px 0 80px
	.news-sorting
		height: 75px
		.news-sorting-new
		.news-sorting-popular
			border: none
		.news-sorting-new
		.news-sorting-popular
		.news-sorting-by
			background: white
			float: right
			padding: 15px
			font-size: 22px
			font-family: 'Open Sans Light', Arial, sans-serif
		.news-sorting-new
		.news-sorting-popular
			&:hover
				border-radius: 3px
				background-color:  #f2ca5b
				cursor: pointer

.news-content .news-content-title
.main-games .games-title 												//games header style
.main-trailers .trailers-title 											//trailers header style
.main-articles .articles-title                      					//articles header style
	h2
		font-family: 'Open Sans ExtraBold', Arial, sans-serif
		text-transform: uppercase
		font-size: 40px
		margin: 0 50px 0 30px
		float: left
	a
		display: block
		float: left
		margin-top: 15px
		text-decoration: none
		color: $site-main-link-btn-color
		border-bottom: 1px dashed $site-main-link-btn-color
		font-family: 'Open Sans Light', Arial, sans-serif
		font-size: 18px

.news-content
	margin-top: 30px
	.news-content-title
		position: relative
		border-bottom: 5px solid #f7f7f7
		.news-content-select
			float: right
			select
				height: 45px
				width: 310px
				margin-top: 10px
				padding-left: 15px
				font-size: 20px
				color: $site-main-link-btn-color
				background-color: #ebebeb
				border: none
				&:hover
				&:focus
					outline: none
					cursor: pointer
			&:before
				position: absolute
				right: 4px
				top: 29px
				content: ' '
				border-left: 10px solid transparent
				border-right: 10px solid transparent
				border-top: 12px solid $site-main-link-btn-color
				cursor: pointer

	//news main content
.news-content-items
	margin: 20px 0

.news-content-item-1-description
.news-content-item-2-description
.news-content-item-3-description
.news-content-item-4-description
.news-content-item-5-description
.news-content-item-6-description
.news-content-item-7-description
.news-content-item-1 > span:first-child
.news-content-item-2 > span:first-child
.news-content-item-3 > span:first-child
.news-content-item-4 > span:first-child
.news-content-item-5 > span:first-child
	display: none

.news-content-item-1
.news-content-item-2
.news-content-item-3
.news-content-item-4
.news-content-item-5
.news-content-item-6
.news-content-item-7
	float: left
	position: relative
	cursor: pointer
	overflow: hidden
	img
		max-width: 100%
		display: block

.news-content-item-1
	&:hover
		> span:first-child
			display: block
			position: absolute
			left: 43.5%
			top: 15%
			background: transparent
			border: 25px solid transparent
			border-right: 25px solid $news-item-description-background
			width: 0
			height: 0

.news-content-item-2
.news-content-item-5
	&:hover
		> span:first-child
			display: block
			position: absolute
			left: 41.5%
			top: 15%
			background: transparent
			border: 25px solid transparent
			border-right: 25px solid $news-item-description-background
			width: 0
			height: 0

.news-content-item-3
.news-content-item-4
	&:hover
		> span:first-child
			display: block
			position: absolute
			left: 6%
			top: 42%
			background: transparent
			border: 25px solid transparent
			border-bottom: 25px solid $news-item-description-background
			width: 0
			height: 0

.news-content-item-1
.news-content-item-2
.news-content-item-5
	&:hover
		> .news-content-item-1-description
		> .news-content-item-2-description
		> .news-content-item-5-description
			display: block
			position: absolute
			right: 0
			top: 0
			width: 50%
			height: 100%
			background-color: $news-item-description-background
			padding: 20px
			overflow: hidden
		> .news-content-item-1-description
		> .news-content-item-2-description
		> .news-content-item-5-description
			> span
				width: 100px
				height: 5px
				background: $news-item-title-border-top-color
				position: absolute
		> .news-content-item-1-description
		> .news-content-item-2-description
		> .news-content-item-5-description
			> h4
				font-family: 'Uni Sans Heavy', sans-serif
				font-size: 20px
				margin: 20px 0
		> .news-content-item-1-description
		> .news-content-item-2-description
		> .news-content-item-5-description
			> p
				font-family: 'Open Sans Light', sans-serif
				font-size: 16px
				color: black
				padding:0

.news-content-item-3
.news-content-item-4
	&:hover
		> .news-content-item-3-description
		> .news-content-item-4-description
			display: block
			position: absolute
			right: 0
			bottom: 0
			width: 100%
			height: 50%
			background-color: $news-item-description-background
			padding: 20px
			overflow: hidden

.news-content-item-7
.news-content-item-6
	&:hover
		> .news-content-item-6-description
		> .news-content-item-7-description
			display: block
			position: absolute
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			background-color: $news-item-description-background
			padding: 20px
			overflow: hidden

.news-content-item-3
.news-content-item-4
.news-content-item-6
.news-content-item-7
	&:hover
		> .news-content-item-3-description
		> .news-content-item-4-description
		> .news-content-item-6-description
		> .news-content-item-7-description
			> span
				width: 100px
				height: 5px
				background: $news-item-title-border-top-color
				position: absolute
		> .news-content-item-3-description
		> .news-content-item-4-description
		> .news-content-item-6-description
		> .news-content-item-7-description
			> h4
				font-family: 'Uni Sans Heavy', sans-serif
				font-size: 20px
				margin: 20px 0
		> .news-content-item-3-description
		> .news-content-item-4-description
		> .news-content-item-6-description
		> .news-content-item-7-description
			> p
				font-family: 'Open Sans Light', sans-serif
				font-size: 16px
				color: black
				padding:0

.news-content-item-1
.news-content-item-2
.news-content-item-3
.news-content-item-4
.news-content-item-5
.news-content-item-6
.news-content-item-7
	&:hover > p
	&:hover > span
		display: none

.news-content-item-1
	> p
		position: absolute
		left: 20px
		bottom: 0px
		background-color:  rgba(154, 48, 79, 0.9)
		width: 489px
		height: 100px
		font-family: 'Uni Sans Heavy Italic'
		font-size: 28px
		padding: 10px
		color: white
		transform: skewX(-5deg)

.news-content-item-1
.news-content-item-2
	height: auto
	img
		height: auto

.news-content-item-1
.news-content-item-2
.news-content-item-3
.news-content-item-4
.news-content-item-5
.news-content-item-6
.news-content-item-7
	> span
		background-color:  $news-item-title-border-top-color
		width: 100px
		height: 5px

.news-content-item-1
	width: 57.9%
	max-width: 750px
	> span
		position: absolute
		left: 20px
		bottom: 140px

.news-content-item-2
.news-content-item-3
.news-content-item-4
.news-content-item-5
.news-content-item-6
.news-content-item-7
	p
		color: #fff
		font-size: 22px
		margin: 0
		padding: 0 20px

.news-content-item-2
	max-width: 550px
	width: 42%
	> p
		font-family: 'Uni Sans Thin'
		position: absolute
		left: 0
		bottom: 0
		height: 81px
		background: linear-gradient(0deg, rgba(154,48,79,0.9) 0%, rgba(154,48,79,0) 100%)
	> span
		position: absolute
		left: 20px
		bottom: 90px

.news-content-item-3
.news-content-item-4
	width: 28.95%
	height: auto
	max-width: 375px
	> p
		position: absolute
		left: 0
		bottom: 0
		height: 110px
		font-family: 'Uni Sans Heavy', sans-serif
	> span
		position: absolute
		left: 20px
		bottom: 120px

.news-content-item-3
	> p
		background: linear-gradient(0deg, #414141 0%, rgba(154, 48, 79, 0) 100%)
		width: 375px

.news-content-item-4
	> p
		background: linear-gradient(0deg, #1c93b2 0%, rgba(154, 48, 79, 0) 100%)

.news-content-item-5
	width: 42%
	height: auto
	max-width: 550px
	> p
		font-family: "Uni Sans Thin", sans-serif
		width: 100%
		position: absolute
		left: 0
		bottom: 0
		height: 81px
		background: linear-gradient(0deg, rgba(36, 62, 18, 0.9) 0%, rgba(154,48,79,0) 100%)

.news-content-item-5
	> span
		position: absolute
		left: 20px
		bottom: 90px

.news-content-item-6
.news-content-item-7
	width: 21%
	height: auto

.news-content-item-6
.news-content-item-7
	max-width: 275px
	> p
		position: absolute
		left: 0
		bottom: 0
		height: 135px
		font-family: 'Uni Sans Thin', sans-serif

.news-content-item-6
	> p
		background: linear-gradient(0deg, #912d49 0%, rgba(154, 48, 79, 0) 100%)

.news-content-item-7
	> p
		background: linear-gradient(0deg, #1c93b2 0%, rgba(154, 48, 79, 0) 100%)

.news-content-item-6
.news-content-item-7
	> span
		position: absolute
		left: 20px
		bottom: 140px

.news-load-more-btn
.articles-load-more-btn                     //articles load more btn style
	> input
		border-style: solid
		border-width: 3px
		border-color: $site-main-link-btn-color
		width: 356px
		height: 66px
		display: block
		font-family: 'Open Sans Light', sans-serif
		margin: 40px auto
		background: none
		border-radius: 50px
		font-size: 24px
		cursor: pointer
		&:hover
			opacity: 0.7
			font-size: 26px
			font-weight: bold

//games styles
.main-games
	position: relative
	background: #2e8a7d
	border-left: 50px
	border-left-style: solid
	border-left-color: #287d71
	padding: $games-trailers-articles-padding
	margin-top: 60px
	font-family: 'Open Sans Light', Arial, sans-serif
	&:before
		content: ''
		position: absolute
		left: -50px
		top: 0px
		border: 25px solid transparent
		border-left: 35px solid #fff
		border-top: 0

	//games title
.main-games .games-title
.main-trailers .trailers-title									//trailers title style
.main-articles .articles-title									//articles title style
	padding: 30px 0
	position: relative

.main-games
	.games-title
		h2
			color: white
		a
			color: white
			border-bottom:1px dashed white

.main-games .games-title-switch
.main-trailers .trailers-title-switch							//trailers switch style
	position: absolute
	left: 40%
	top: 45%
	font-size: 0

.main-games .games-title-switch
.main-trailers .trailers-title-switch              				// trailers switch button style
	button
		border: none
		background: #176459
		width: 15px
		height: 15px
		border-radius: 50%
		margin: 0 10px
		cursor: pointer

.main-games
	.games-title-switch
		button
			&:hover
				background: $games-trailers-title-btn-hover-color

.main-games .games-title
.main-trailers .trailers-title 		                     		//trailers title input style
	> input
		float: right
		background-color:  #247368
		width: 60px
		height: 60px
		border: none
		font-size: 42px
		cursor: pointer
		color: white

.main-games .games-title
	> input
		&:hover
			background-color:  $games-trailers-title-btn-hover-color

	//games main content
.games-content
.trailers-content												//trailers content styles
	margin: 20px 0

.games-content-item-1
.games-content-item-2
.games-content-item-3
.games-content-item-4
	float: left
	width: 50%
	height: 300px
	background: white
	position: relative
	max-width: 645px
	&:hover
		background: #00b7e7
	img
		float: left
		max-height: 100%
		border-bottom: 5px solid red

.games-content-item-description
	padding: 0 15px
	height: 240px
	overflow: hidden
	h3
		font-family: 'Open Sans Bold', Arial, sans-serif
		font-size: 26px
		margin: 15px 0 0 0
		color: black

.games-content-item-description
	div:nth-child(2)
		font-size: 14px
	div:nth-child(2) span:first-child
		color: black
	div:nth-child(2) span:nth-child(2)
	div:nth-child(2) span:nth-child(4)
		color: blue
	div:nth-child(2) span:nth-child(3)
	div:nth-child(2) span:nth-child(5)
		color: #1de22b

.games-content-item-description
	> p
		font-size: 15px

.games-content-item-feedback
	position: absolute
	bottom: 15px
	left: 230px
	font-size: 14px
	> a
		color: black
		margin-right: 15px

.games-content-item-raiting
	position: absolute
	top: -5px
	right: 10px
	background-color:  #f7d54a
	width: 60px
	height: 60px
	padding: 12px
	font-family: 'Open Sans Bold', Arial, sans-serif
	font-size: 25px

//trailers style
.main-trailers
	position: relative
	background: #eae7d6
	border-left: 50px
	border-left-style: solid
	border-left-color: #dfdccc
	padding: $games-trailers-articles-padding
	margin-top: 0
	font-family: 'Open Sans Light', Arial, sans-serif
	&:before
		content: ''
		position: absolute
		left: -50px
		top: 0
		border: 30px solid transparent
		border-left: 50px solid #287d71
		border-top: 0

	//trailers title
.main-trailers
	.trailers-title-switch
		button
			background: #c2c2c2
			&:hover
				background: $games-trailers-title-btn-hover-color

.main-trailers
	.trailers-title
		> input
			background: $site-main-link-btn-color
			&:hover
				background-color: $games-trailers-title-btn-hover-color

	//trailers main content
.trailers-content-item-1
.trailers-content-item-2
.trailers-content-item-3
.trailers-content-item-4
.trailers-content-item-5
.trailers-content-item-6
	float: left
	background: white
	width: 48.44%
	height: auto
	position: relative
	&:hover
		font-weight: bold
		background: rgba(149, 91, 165, 0.7)
	&:hover > a span
		background: #f7d54a
	&:hover > a img
		opacity: 0.3
	> a
		span
			position: absolute
			background-color:  #ff4c36
			width: 70px
			height: 70px
			left: 0
			top: 0
			&:before
				content: ''
				position: absolute
				left: 24px
				bottom: 19px
				border: 16px solid transparent
				border-left: 28px solid #fff

.trailers-content-item-1
.trailers-content-item-3
.trailers-content-item-5
	margin: 0 3.1% 3.1% 0

.trailers-content-item-2
.trailers-content-item-4
.trailers-content-item-6
	margin-bottom: 3.1%

.trailers-content-item-1
.trailers-content-item-2
.trailers-content-item-3
.trailers-content-item-4
.trailers-content-item-5
.trailers-content-item-6
	> a
		float: left
		width: 50%
		height: 100%
	img
		display: block
		border-left: 10px solid #343434
		width: 100%
		height: auto

.trailers-content-item-description
	float: left
	padding: 30px 15px
	width: 50%
	height: 100%
	overflow: hidden
	> a
		color: black
	h3
		max-height: 65%
		overflow: hidden
		margin: 0
		font-size: 20px
		font-family: 'Open Sans Bold', Arial, sans-serif
	span
		color: #b4b4b4
		position: absolute
		left: 345px
		bottom: 10px
		font-weight: bold

//articles style
.main-articles
	position: relative
	background: white
	padding: $games-trailers-articles-padding
	font-family: 'Open Sans Light', Arial, sans-serif

.main-articles
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		border: 30px solid transparent
		border-left: 50px solid #dfdccc
		border-top: 0

		//articles title style
.main-articles
	.articles-title
		h2
			margin-left: 80px
		a
			color: #bf2d2d
			border-bottom: 1px dashed #bf2d2d

.main-articles
	.articles-title
		input
			float: right
			display: block
			font-family: 'Open Sans Light', sans-serif
			background: none
			border-radius: 50px
			border: none
			cursor: pointer
			background-color: $articles-main-color
			width: 210px
			height: 40px
			color: #ffffff
			font-size: 18px
			margin-top: 10px

.main-articles .articles-title
	input
		&:focus
			outline: none

	//articles main content style
.articles-content
	padding: 20px 0 50px 50px
	margin-top: 0

.articles-content-items
	position: relative
	.articles-item-author
		width: 30%

.articles-content-item-1
.articles-content-item-2
.articles-content-item-3
.articles-content-item-4
.articles-content-item-5
.articles-content-item-6
	overflow: hidden
	width: 32.334%
	height: 460px
	border: 1px solid #f2f2ef
	padding: 10px
	float: left
	&:hover
		background-color: $articles-main-color
	&:hover
		.articles-item-author-name
			background-color: white

.articles-content-item-1
.articles-content-item-2
.articles-content-item-4
.articles-content-item-5
	margin: 0 1.5% 1.5% 0

.articles-content-item-3
.articles-content-item-6
	margin: 0 0 1.5% 0

.articles-content-item-1
	.articles-item-author
		position: absolute
		left: -1%
		top: 1%

.articles-content-item-2
	.articles-item-author
		position: absolute
		left: 32.8%
		top: 1%

.articles-content-item-3
	.articles-item-author
		position: absolute
		left: 66.6%
		top: 1%

.articles-content-item-4
	.articles-item-author
		position: absolute
		left: -1%
		top: 51%

.articles-content-item-5
	.articles-item-author
		position: absolute
		left: 32.8%
		top: 51%

.articles-content-item-6
	.articles-item-author
		position: absolute
		left: 66.6%
		top: 51%

.articles-item-author
	.articles-item-author-photo
		float: left
		width: 32%
		height: 60px
		margin-right: 10px
		color: white

.articles-item-author .articles-item-author-photo
	span
		width: 48.5%
		height: 60px
		float: left
		text-align: center

.articles-item-author .articles-item-author-photo
	span:first-child
		&:first-line
			font-size: 26px
			font-family: 'Open Sans Bold'

.articles-content-item-1
	.articles-item-author-photo
		span:first-child
			background-color: #1f617b

.articles-content-item-2
	.articles-item-author-photo
		span:first-child
			background-color: #f2ca5b

.articles-content-item-3
	.articles-item-author-photo
		span:first-child
			background-color: #ff4c36

.articles-content-item-4
	.articles-item-author-photo
		span:first-child
			background-color: #2e8a7d

.articles-content-item-5
	.articles-item-author-photo
		span:first-child
			background-color: #000000

.articles-content-item-6
	.articles-item-author-photo
		span:first-child
			background-color: #03554f

.articles-item-author
	.articles-item-author-photo
		img
			height: 60px
			max-width: 100%
	.articles-item-author-name
		float: left
		position: relative
		background-color:  #f2f2ef
		width: 64.5%
		height: 60px
		border-top: 1px solid black
		overflow: hidden
		padding: 0 10px
		a:first-child
			display: inline-block
			position absolute
			left: 10px
			top: 2px
			color:  $articles-main-color
			font-size: 22px
			font-family: 'Open Sans Semibold', sans-serif
		a:nth-child(2)
			color: #8e8e8e
			font-family: 'Open Sans Regular', sans-serif
			font-size: 14px
			position absolute
			left: 10px
			bottom: 5px
		a:nth-child(3)
			color: #8e8e8e
			font-family: 'Open Sans Regular', sans-serif
			font-size: 14px
			position absolute
			left: 60px
			bottom: 5px

.articles-item-author-comment
	margin-top: 60px
	padding: 10px
	h3
		font-family: 'Times New Roman', sans-serif
		font-weight: Bold
		font-size: 30px
	p:nth-child(2)
		font-style: italic
	p
		font-family: 'Open Sans Regular', sans-serif
		font-size: 17px

//footer style
.footer
	width: 100%
	height: 430px
	padding: 0 50px 0 80px
	position: relative
	background-color: #ececec
	&:before
		content: ''
		width: 35%
		height: 10px
		position: absolute
		bottom: 0
		left: 0
		background-color: #ff4c36
	&:after
		content: ''
		width: 35%
		height: 10px
		position: absolute
		bottom: 0
		right: 0
		background-color: #00abed
	.footer-main-picture
		position: absolute
		left: 35%
		top: -20%
	.footer-info-about
		display: inline-block
		width: 50%
		height: 270px
		background-color: #302428
		overflow: hidden
		border-top: 10px solid #f7d649
		position: relative
		&:before
			content: 'AM-4'
			position: absolute
			top: 25px
			left: -55px
			font-size: 220px
			color: #3e3236
			font-family: 'Open Sans ExtraBold', sans-serif
		.info-about-social-networks
			margin: 15px 0 0 60px
		.info-about-social-networks
			a
				margin-right: 10px
				display: inline-block
				color: white
				position: relative
		.info-about-social-networks
			span
				border-radius: 2px
				font-size: 26px
				padding: 5px
		.info-about-social-networks
			.icon-facebook
				background: #3b5998
		.info-about-social-networks
			.icon-twitter
				background: #00acee
		.info-about-social-networks
			.icon-globe
				background: #ea4c89
		.info-about-social-networks
			.icon-gplus
				background: #db4a39
		.info-about-social-networks
			.icon-leaf
				background: #598728
		.info-about-main-content
			width: 68%
			font-family: 'Open Sans Light', sans-serif
			font-size: 17px
			color: #a7a7a7
			overflow: hidden
			padding: 15px 0 0 20px
			position: relative
			z-index: 10
			height: 180px
		.info-about-main-content
			h5
				font-family: 'Open Sans Bold', sans-serif
				font-size: 18px
				color: white
		.info-about-main-content
			p
				margin: 10px 0
	.footer-running-man-logo
		position: absolute
		left: 68px
		top: 0
		width: 60px
		height: 60px
		padding: 15px
		background-color: #f7d54a
		z-index: 10
	.footer-contact-us-btn
		width: 230px
		height: 50px
		background-color: #48a4be
		position: absolute
		bottom: 30%
		left: 15%
		font-size: 20px
		font-family: 'Open Sans Semibold', sans-serif
		color: white
		cursor: pointer
		border: none
	.footer-copyright
		position: absolute
		right: 5px
		bottom: 125px
		width: 310px
		height: 90px
		overflow: hidden
		font-size: 15px
		font-family: 'Open Sans Light', sans-serif
	.footer-copyright
		h5
			font-family: 'Open Sans Semibold', sans-serif
			font-size: 15px
	.footer-copyright
		p
			margin: 5px 0
	.footer-participants
		position: absolute
		right: 100px
		bottom: 30px
	.footer-participants
		img:first-child
			margin-right: 15px
	.footer-adult
		border: 5px solid #d4d4d4
		width: 100px
		height: 60px
		position: absolute
		top: 40px
		right: 60px
		text-align: center
		color: #000000
		font-size: 31px
		padding: 3px
		font-family: 'Open Sans Light', sans-serif
	> img:last-child
		position: absolute
		bottom: 0
		left: 30%
		z-index: 10


@media screen and (min-width: 993px) and (max-width: 1200px)
	.header
		height: 134px
		padding: 0
		.site-logo
			width: 12.5%
			height: 67px
			padding: 13px 20px 10px 20px
			img
				width: 100%
		.site-navigation
			width: 87.5%
			li
				display: inline-block
				width: 20%
				a
					padding: 20px 0
					font-size: 20px
					width: auto
		.site-search
			width: 50%
			.search-input
				width: 80%
				height: 67px
				display: block
				font-size: 18px
			.icon-for-srch
				padding: 19.5px
		.site-login
			width: 50%
			padding: 0
			input
				padding: 10px
				height: 67px
				width: 50%
				float: left
				font-size: 18px
				background: #ededed
				border-left: 1px solid black
	.main-slider
		.main-slider-items
			position: absolute
			right: 60px
			top: 60px
	.main-news
		padding: 0 30px 0 50px
		.news-content-item-1
		.news-content-item-2
		.news-content-item-3
		.news-content-item-4
		.news-content-item-5
		.news-content-item-6
		.news-content-item-7
			&:hover
				> .news-content-item-1-description
				> .news-content-item-2-description
				> .news-content-item-3-description
				> .news-content-item-4-description
				> .news-content-item-5-description
				> .news-content-item-6-description
				> .news-content-item-7-description
					height: 100%
					width: 100%
					> h4
						font-size: 17px
					> p
						font-size: 15px
		.news-content-item-1
		.news-content-item-2
		.news-content-item-3
		.news-content-item-4
		.news-content-item-5
		.news-content-item-6
		.news-content-item-7
			> p
				font-size: 20px
	.main-games
		.games-content-item-1
		.games-content-item-2
		.games-content-item-3
		.games-content-item-4
			> a
				img
					max-width: 35%
			.games-content-item-description
				height: 280px
				.games-content-item-feedback
					left: 10px
					bottom: 15px
				.games-content-item-raiting
					padding: 6px
					width: 40px
					height: 40px
					font-size: 20px
	.main-trailers
		.trailers-content-item-1
		.trailers-content-item-2
		.trailers-content-item-3
		.trailers-content-item-4
		.trailers-content-item-5
		.trailers-content-item-6
			height: 170px
			.trailers-content-item-video
				width: 48%
				height: 70%
				img
					height: auto
			.trailers-content-item-description
				padding: 20px 15px
				width: 52%
				h3
					max-height: 95%
					font-size: 18px
				span
					left: 10px
					bottom: 5px
	.main-games
	.main-trailers
		.games-title-switch
		.trailers-title-switch
			left: 43%
	.main-articles
		.articles-content
			padding: 20px 0 0 50px
			.articles-item-author
				.articles-item-author-photo
					width: 100%
					height: 29px
					span:first-child
						text-align: center
						width: 70%
						height: 29px
						&:first-line
							font-size: 22px
					span:last-child
						text-align: left
						width: 30%
						img
							height: 79px
				.articles-item-author-name
					width: 70%
					height: 50px
			.articles-item-author-comment
				margin-top: 70px
				h3
					font-size: 26px
				p
					font-size: 14px
	.footer
		height: 360px
		.footer-info-about
			&:before
				font-size: 160px
				top: 68px
			.info-about-main-content
				font-size: 16px
		.footer-copyright
			right: 0
			bottom: 18%
		.footer-contact-us-btn
			bottom: 16%
			left: 13%
		.footer-adult
			top: 100px
			right: 50px
		.footer-participants
			right: 170px
			bottom: 300px
		.footer-main-picture
			left: 39%
			top: 9%
			img
				width: 412px


@media screen and (min-width: 769px) and (max-width: 992px)
	.header
		height: 134px
		padding: 0
		.site-logo
			width: 15.5%
			height: 67px
			padding: 13px 20px 10px 20px
			img
				width: 100%
		.site-navigation
			width: 84.5%
			li
				display: inline-block
				width: 20%
				a
					padding: 20px 0
					font-size: 20px
					width: auto
		.site-search
			width: 60%
			.search-input
				width: 80%
				height: 67px
				display: block
				font-size: 18px
			.icon-for-srch
				padding: 19.5px
		.site-login
			width: 40%
			padding: 0
			input
				padding: 10px
				height: 67px
				width: 50%
				float: left
				font-size: 18px
				background: #ededed
				border-left: 1px solid black
	.main-slider
		.main-slide-switch-1
		.main-slide-switch-2
		.main-slide-switch-3
		.main-slide-switch-4
		.main-slide-switch-5
			&:checked
				~ .main-slider-view
					background-position: inherit
		.main-slider-view
			height: 500px
		.main-slider-items
			position: absolute
			top: 0px
			right: 0px
			height: 100%
			width: 20%
			border-left: 1px solid
			.main-slider-item-1
			.main-slider-description
			.main-slider-item-7
				display: none
			.main-slider-item-2
			.main-slider-item-3
			.main-slider-item-4
			.main-slider-item-5
			.main-slider-item-6
				width: 82%
				height: 100px
		> img
			bottom: -78px
			width: 500px
	.main-news
		padding: 0 10px 0 50px
		.news-content-item-1
			max-width: none
			width: 100%
			height: auto
			&:hover
				> span:first-child
					left: 44.5%
				.news-content-item-1-description
					width: 50%
			> span
				bottom: 120px
			> p
				height: 90px
		.news-content-item-2
			&:hover
				> span:first-child
					left: 44.55%
				> .news-content-item-2-description
					height: 100%
					> h4
						font-size: 19px
					> p
						font-size: 17px
			max-width: none
			width: 100%
			height: auto
		.news-content-item-2
		.news-content-item-3
			> p
				width: 100%
		.news-content-item-3
		.news-content-item-4
			width: 50%
			height: auto
			max-width: none
			&:hover
				> .news-content-item-3-description
				> .news-content-item-4-description
					height: 50%
					> h4
						font-size: 18px
					> p
						font-size: 16px
			> span
				bottom: 115px
			> p
				height: 105px
		.news-content-item-5
			width: 100%
			height: auto
			max-width: none
			&:hover
				> span:first-child
					left: 44.55%
				> .news-content-item-5-description
					height: 100%
					width: 50%
					> h4
						font-size: 19px
					> p
						font-size: 17px
			> p
				height: 80px
			> span
				bottom: 90px
		.news-content-item-6
		.news-content-item-7
			max-width: none
			width: 50%
			height: auto
			&:hover
				> .news-content-item-6-description
				> .news-content-item-7-description
					> h4
						font-size: 18px
					> p
						font-size: 16px
			> span
				bottom: 100px
			> p
				height: 90px
		.news-content-item-1
		.news-content-item-2
		.news-content-item-3
		.news-content-item-4
		.news-content-item-5
		.news-content-item-6
		.news-content-item-7
			> p
				font-size: 18px
			img
				height: auto
				width: 100%
				display: block
	.main-games
		.games-content-item-1
		.games-content-item-2
		.games-content-item-3
		.games-content-item-4
			> a
				img
					max-width: 40%
			.games-content-item-description
				height: 280px
				h3
					font-size: 22px
				div:nth-child(2)
					font-size: 14px
				> p
					font-size: 14px
				.games-content-item-feedback
					left: 10px
					bottom: 15px
				.games-content-item-raiting
					padding: 6px
					width: 40px
					height: 40px
					font-size: 20px
	.main-games
	.main-trailers
		padding: 0 10px 50px 10px
		.games-title
		.trailers-title
			h2
				margin: 0 35px 0 20px
			.games-title-switch
			.trailers-title-switch
				left: 55%
			> input
				width: 50px
				height: 50px
				font-size: 36px
	.main-trailers
		.trailers-content-item-1
		.trailers-content-item-2
		.trailers-content-item-3
		.trailers-content-item-4
		.trailers-content-item-5
		.trailers-content-item-6
			height: 175px
			.trailers-content-item-video
				width: 60%
				height: 70%
				img
					height: auto
			.trailers-content-item-description
				padding: 20px 5px
				height: 90%
				width: 40%
				h3
					max-height: 95%
					font-size: 16px
				span
					left: 10px
					bottom: 5px
	.main-articles
		padding: 0 10px 50px 10px
		.articles-content
			padding: 20px 0 0 50px
			.articles-content-item-1
			.articles-content-item-3
			.articles-content-item-5
				margin: 0 1% 1% 0
				width: 49.5%
			.articles-content-item-2
			.articles-content-item-4
			.articles-content-item-6
				margin: 0 0 1% 0
				width: 49.5%
			.articles-content-item-1
			.articles-content-item-2
			.articles-content-item-3
			.articles-content-item-4
			.articles-content-item-5
			.articles-content-item-6
				.articles-item-author
					width: 40%
					.articles-item-author-photo
						width: 100%
						height: 29px
						span:first-child
							text-align: center
							width: 70%
							height: 29px
							&:first-line
								font-size: 22px
						span:last-child
							text-align: left
							width: 30%
							img
								height: 79px
					.articles-item-author-name
						width: 70%
						height: 50px
				.articles-item-author-comment
					margin-top: 70px
					h3
						font-size: 24px
					p
						font-size: 15px
			.articles-content-item-2
				.articles-item-author
					left: 49.5%
			.articles-content-item-3
				.articles-item-author
					left: -1%
					top: 34.3%
			.articles-content-item-4
				.articles-item-author
					left: 49.5%
					top: 34.3%
			.articles-content-item-5
				.articles-item-author
					left: -1%
					top: 67.7%
			.articles-content-item-6
				.articles-item-author
					left: 49.5%
					top: 67.7%
	.footer
		height: 360px
		.footer-info-about
			&:before
				font-size: 160px
				top: 68px
			width: 62%
			.info-about-main-content
				font-size: 14px
				width: 72%
		.footer-copyright
			right: 0
			bottom: 170px
			width: 36.5%
		.footer-contact-us-btn
			bottom: 16%
			left: 13%
			width: 210px
		.footer-adult
			top: 20px
			right: 10px
		.footer-participants
			right: 10px
			bottom: 73px
		.footer-main-picture
			left: 43%
			top: 151px
			img
				width: 250px
		> img:last-child
			left: 20%


@media screen and (max-width: 768px)
	.header
		height: 178px
		background: #30b5d8
		padding: 0
		.mobile-navigation
			display: block
			.hidden-menu
				display: block
				position: fixed
				list-style:none
				margin: 0
				width: 100%
				background-color: #30b5d8
				height: 200px
				top: -200px
				left: 0
				transition: top .4s
				z-index: 10
				-webkit-transform: translateZ(0)
				-webkit-backface-visibility: hidden
				> li
					float: left
					width: 50%
					height: 40px
					padding: 5px
					text-align: center
					&:hover
						cursor: pointer
						background-color: black
						> a
							color: white
					a
						color: black
						font-weight: bold
						font-size: 20px
			.hidden-menu-ticker
				display: none
			.btn-menu
				color: #fff
				background-color: black
				padding: 5px
				position: fixed
				top: 10px
				left: 7px
				cursor: pointer
				opacity: 0.8
				transition: top .6s
				z-index: 11
				width: 35px
				-webkit-transform: translateZ(0)
				-webkit-backface-visibility: hidden
			.btn-menu span
				display: block
				height: 5px
				background-color: #fff
				margin: 5px 0 0
				transition: all .1s linear .4s
				position: relative
			.btn-menu span.first
				margin-top: 0
			.hidden-menu-ticker:checked ~ .btn-menu
				top: 160px
			.hidden-menu-ticker:checked ~ nav .hidden-menu
				top: 0
			.hidden-menu-ticker:checked ~ .btn-menu span.first
				-webkit-transform: rotate(45deg)
				top: 10px
			.hidden-menu-ticker:checked ~ .btn-menu span.second
				opacity: 0
			.hidden-menu-ticker:checked ~ .btn-menu span.third
				-webkit-transform: rotate(-45deg)
				top: -10px
		.site-logo
			margin-left: 40%
			height: 58px
			padding: 4px
		.site-navigation
			display: none
		.site-search
			width: 100%
			.search-input
				width: 75%
				height: 60px
				display: block
				font-size: 18px
			.icon-for-srch
				padding: 16.5px
		.site-login
			width: 100%
			padding: 0
			border-top: 1px solid black
			input
				padding: 10px
				height: 59px
				width: 50%
				float: left
				font-size: 16px
				background: #ededed
			input:last-child
				border-left: 1px solid black
	.main-slider
		.main-slide-switch-1
		.main-slide-switch-2
		.main-slide-switch-3
		.main-slide-switch-4
		.main-slide-switch-5
			&:checked
				~ .main-slider-view
					background-position: 25% 0
		.main-slider-view
			height: 560px
		.main-slider-items
			position: absolute
			top: 432px
			right: 0px
			height: 100px
			width: 100%
			border-top: 1px solid black
			.main-slider-item-1
			.main-slider-description
			.main-slider-item-7
				display: none
			.main-slider-item-2
			.main-slider-item-3
			.main-slider-item-4
			.main-slider-item-5
			.main-slider-item-6
				width: 20%
				height: 99px
		> img
			bottom: -47px
			width: 300px
	.main-news
		padding: 0
		.news-sorting
			height: 52px
			margin-top: 55px
			.news-sorting-popular
			.news-sorting-by
			.news-sorting-new
				padding: 11px
		.news-content
			margin: 0
			.news-content-title
				a
					position: absolute
					right: 30px
					top: 0
				h2
					font-size: 38px
				.news-content-select
					width: 100%
					select
						width: 100%
					&:before
							top: 80.5px
			.news-content-items
				.news-content-item-1
					max-width: none
					width: 100%
					height: auto
					&:hover
						> span:first-child
							display: none
						.news-content-item-1-description
							width: 100%
							h4
								font-size: 14px
							p
								font-size: 13px
					> span
						bottom: 105px
					> p
						font-size: 16px
						width: 75%
						overflow: hidden
						height: 80px
				.news-content-item-2
					&:hover
						> span:first-child
							display: none
						> .news-content-item-2-description
							height: 100%
							width: 100%
							> h4
								font-size: 14px
							> p
								font-size: 13px
					max-width: none
					width: 100%
					height: auto
				.news-content-item-2
				.news-content-item-3
					> p
						width: 100%
				.news-content-item-3
				.news-content-item-4
					width: 50%
					height: auto
					&:hover
						> .news-content-item-3-description
						> .news-content-item-4-description
							height: 100%
							> h4
								font-size: 14px
							> p
								font-size: 13px
					> span
						bottom: 115px
					> p
						height: 105px
						font-size: 16px
				.news-content-item-5
					width: 100%
					height: auto
					max-width: none
					&:hover
						> .news-content-item-5-description
							height: 100%
							width: 100%
							> h4
								font-size: 14px
							> p
								font-size: 13px
					> p
						height: 80px
					> span
						bottom: 90px
				.news-content-item-6
				.news-content-item-7
					max-width: none
					width: 50%
					height: auto
					&:hover
						> .news-content-item-6-description
						> .news-content-item-7-description
							> h4
								font-size: 14px
							> p
								font-size: 13px
					> span
						bottom: 90px
					> p
						height: 80px
						font-size: 16px
				.news-content-item-1
				.news-content-item-2
				.news-content-item-3
				.news-content-item-4
				.news-content-item-5
				.news-content-item-6
				.news-content-item-7
					p
						font-size: 15px
					img
						height: auto
						width: 100%
						display: block
			.news-load-more-btn
				> input
					width: 70%
					font-size: 22px
	.main-games
		border: none
		.games-content-item-1
		.games-content-item-2
		.games-content-item-3
		.games-content-item-4
			width: 100%
			max-width: none
			margin: 0 0 10px 0
			> a
				img
					max-width: 40%
			.games-content-item-description
				height: 260px
				h3
					font-size: 22px
				div:nth-child(2)
					font-size: 14px
				> p
					font-size: 14px
				.games-content-item-feedback
					left: 45%
					bottom: 10px
				.games-content-item-raiting
					padding: 6px
					width: 40px
					height: 40px
					font-size: 20px
	.main-games
	.main-trailers
		padding: 0 10px 50px 10px
		.games-title
		.trailers-title
			height: 160px
			h2
				margin: 0 35px 0 20px
				font-size: 38px
			a
				position: absolute
				top: 80px
				left: 10px
			.games-title-switch
			.trailers-title-switch
				display: none
			> input
				width: 50px
				height: 50px
				font-size: 36px
			> input:nth-child(4)
				position: absolute
				right: 0px
				top: 80px
			> input:nth-child(5)
				position: absolute
				right: 50px
				top: 80px
		.games-content
		.trailers-content
			margin: 0
	.main-trailers
		border: none
		.trailers-content-item-1
		.trailers-content-item-2
		.trailers-content-item-3
		.trailers-content-item-4
		.trailers-content-item-5
		.trailers-content-item-6
			width: 100%
			margin: 0 0 10px 0
			height: auto
			.trailers-content-item-video
				width: 50%
				height: 85%
			.trailers-content-item-description
				padding: 5px 10px 25px 10px
				height: 85%
				width: 50%
				h3
					max-height: 95%
					font-size: 16px
				span
					left: auto
					right: 1px
					bottom: 0px
	.main-articles
		padding: 0 10px 10px 10px
		&:before
			display: none
		.articles-title
			height: 160px
			h2
				font-size: 38px
				margin: 0 20px 0 20px
			a
				position: absolute
				top: 80px
				left: 10px
			input
				position: absolute
				right: 0px
				top: 80px
				font-size: 16px
				width: 180px
		.articles-content
			padding: 0
			.articles-content-item-1
			.articles-content-item-3
			.articles-content-item-5
			.articles-content-item-2
			.articles-content-item-4
			.articles-content-item-6
				width: 100%
				margin: 0 0 10px 0
			.articles-content-item-1
			.articles-content-item-2
			.articles-content-item-3
			.articles-content-item-4
			.articles-content-item-5
			.articles-content-item-6
				.articles-item-author
					width: 90%
					.articles-item-author-photo
						width: 100%
						height: 29px
						span:first-child
							text-align: center
							width: 70%
							height: 29px
							&:first-line
								font-size: 22px
						span:last-child
							text-align: left
							width: 30%
							img
								height: 79px
					.articles-item-author-name
						width: 70%
						height: 50px
				.articles-item-author-comment
					margin-top: 70px
					h3
						font-size: 24px
					p
						font-size: 15px
			.articles-content-item-1
				.articles-item-author
					left: -1%
					top: 10px
			.articles-content-item-2
				.articles-item-author
					left: -1%
					top: 480px
			.articles-content-item-3
				.articles-item-author
					left: -1%
					top: 950px
			.articles-content-item-4
				.articles-item-author
					left: -1%
					top: 1420px
			.articles-content-item-5
				.articles-item-author
					left: -1%
					top: 1890px
			.articles-content-item-6
				.articles-item-author
					left: -1%
					top: 2360px
		.articles-load-more-btn
			> input
				width: 70%
				font-size: 22px
	.footer
		&:after
			width: 65%
		height: 560px
		padding: 0 20px
		.footer-running-man-logo
			left: 10px
		.footer-info-about
			&:before
				font-size: 140px
				top: 90px
			width: 100%
			.info-about-social-networks
				a:first-child
				a:nth-child(2)
					margin-bottom: 20px
			.info-about-main-content
				font-size: 14px
				width: 100%
				height: 170px
		.footer-copyright
			left: 20px
			bottom: 30px
			width: 90%
			height: 70px
		.footer-contact-us-btn
			bottom: 250px
			left: 13%
			width: 210px
		.footer-adult
			top: 320px
			right: 20px
		.footer-participants
			left: 20px
			bottom: 120px
		.footer-main-picture
			display: none
		> img:last-child
			width: 250px
			left: 5%
